<% provide(:title, 'Home') %>

<div class="row">
	<div class="span8">

		<% if signed_in? %>

			<div class="row span5">

						<%= form_for( @micropost) do |f| %>

							<%= render 'shared/error_messages', object: f.object %>

							<div class="field span10" >
								<%= f.text_area :content, placeholder: "New message", :cols => 10, :rows => 5 %>

								<%= f.submit "Post", class:"btn btn-large btm-primary" %>
							</div>

						<% end %>							
			</div>			

		<% else %>

			<div class="center hero-unit">
				<h1>Welcome to the Sample App</h1>

				<h2>
					This is the home page 
				</h2>

				<%= link_to "Sign Up Now" , '#' , class: "btn btn-large btn-primary" %>

				<%= link_to image_tag("rails.png" , alt: "Rails" ) , 'http://rubyonrails.org/' %>
			</div>

		<% end %>
	</div>
</div>


