<!-- Static Pages : Home -->

<% provide(:title, 'Home') %>

<div class="row">
	<div class="span8">

		<% if signed_in? %>   <!--# then allow to post messages   -->

			<div class="row span5">

				<h1>user = <%= current_user.id %> </h1>

						<%= form_for( @micropost) do |f| %>

							<%= render 'shared/error_messages', object: f.object %>

							<div class="field span10" >
								<%= f.text_area :content, placeholder: "New message", :cols => 10, :rows => 5 %>

								<%= f.submit "Post", class:"btn btn-large btm-primary" %>
							</div>

						<% end %>							
			</div>			

		<% else %>

			<div class="home-box center hero-unit">

				<br /> <br />

				<h2>Welcome to the site !</h2>

				<h2>Post your messages to your loved ones here. </h2>

				<%= link_to "Sign In" , new_session_path , class: "btn btn-large btn-primary" %>		

			</div>

		<% end %>
	</div>
</div>


