<% provide( :title, @user.name ) %>


<div class="row">
	<aside class="span6">
		<section>
			<h1>
				Hi there <%= @user.name %> these are your details:
			</h1>
		</section>
	<aside>
</div>

<hr>

<div class="row">

	<div class="span4 offset3">
		<%= form_for(@user) do |f| %>
			<%= f.label :id , "Reference" %>
			<%= f.text_field :id %>
	
			<%= f.label :name %>
			<%= f.text_field :name %>

			<%= f.label :email %>
			<%= f.text_field :email %>
		<% end %>
	</div>


	<div class="span6 offset4">

	<p>
		<a href= <%= edit_user_path(@user) %> class="btn btn-primary" >Edit</a>
		<a href= <%= users_path %> class="btn btn-primary">Back</a>
	</p>

	</div>

	<div class="span12" >
		<hr>
	</div>

	<div class="span8">
		<% if @user.microposts.any? %>

			<h3>These are your recent messages ( <%= @user.microposts.count %> )</h3>

			<ol class="microposts" >
				<%= render @microposts %> 
			</ol>

			<%= will_paginate @microposts %>

		<% end %>
	</div>

</div>
